.form-body {
  min-height: 100vh;
  align-items: center;
}
.box {
  box-shadow: 0 0 7px 1px rgb(158 158 158 / 20%);
  border: none;
  border-radius: 7px;
}
.box button {
  background-color: #fb3b64;
}
.box h2 span {
  color: #fb3b64;
}
.box h2 {
  color: #071828;
}
.box .input-group-text {
  margin-left: -3px;
  background: #fb3b64;
  border-color: #fb3b64;
  color: #fff;
}
